body {
	background-color: #C6C5C5;
}
li.red-text {
	color: #AA3939;
}
.blue-text {
	color: #3333AA;
}
#special-list-item {
	color: #AA2331;
}
#hello-button-row{
    padding-top: 100px;
}

#hello-button{
    width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
}